
  <header>
    <nav>
      <a href="#" class="menu-logo">
        <img src="/assets/images/hamburger.svg" alt="Fire burger icon" class="menu-logo-img">
        <p class="menu-logo-text">Easya fire burgers</p>
      </a>
      <ul class="menu">
        <li><a routerLink="/menu">Menu</a></li>
        <li><a href="#constructor">Constructor</a></li>
        <li><a href="#about-us">About us</a></li>
        <li><a href="#order" class="selected">Order</a></li>
        <li><a href="#contacts">Contacts</a></li>
      </ul>
    </nav>
  </header>