header {
  position: relative;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: var(--primary-color);
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 15px;
  flex: 1;
}

.menu li {
  font-size: 1.875rem;
  line-height: 2.19rem;
  margin: 15px;
  text-align: center;
}

.selected, li:hover {
  text-decoration: underline;
}

.menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-logo-img {
  margin-right: 22px;
  margin: 15px;
}

.menu-logo-text {
  font-weight: 900;
  width: 170px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.875rem;
  margin: 10px;
}