.order {
  height: 270px;
  border-radius: 20px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.625rem;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow .3s ease;
}

.order:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.order:last-child {
  justify-content: center;
  align-items: center;
}

.order-create-text {
  font-size: 1.875rem;
  width: 250px;
  text-align: center;
}

.order-img {
  width: 100%;
  flex: 1;
  // background: url('/assets/images/tasty_burger.jpeg') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.order-img-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  position: absolute;
  transform: translateY(100%);
  transition: transform .3s ease;
}

.order:hover .order-img-info {
  transform: translateY(0);
}

.order-img-info p {
  color: #FFFFFF;
  font-size: 1.875rem;
  text-align: center;
}

.order-details {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
}

.order-title {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}