<div class="order">
  <div class="order-img" [ngStyle]="{
    'background': 'url(' + item.imgUrl + ') no-repeat center center',
    'background-size': 'cover' 
  }">
    <div class="order-img-info">
      <p>{{item.description}}</p>
      <p>{{item.energy}} kcal</p>
    </div>
  </div>
  <div class="order-details">
    <p class="order-title">{{item.name}}</p>
    <p class="order-price">{{item.price}} usd</p>
  </div>
</div>