section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction {
  margin-top: 120px;
}

.introduction-title {
  font-size: 4.375rem;
  color: var(--primary-color);
  margin-top: 60px;
}

.content-text {
  font-size: 1.875rem;
  text-align: center;
  max-width: 1100px;
  margin-top: 40px;
  padding: 0 20px;
}

section:last-child {
  margin-top: 100px;
}