<section>
  <p class="content-text">You can eat the chosen burger at the restaurant by ordering a table and using “cook in
    time option” or take
    delivery.
  </p><br>
  <p class="content-text">Always glad to please you!</p>
</section>