<section class="introduction">
  <h1 class="introduction-title">Menu</h1>
  <p class="content-text">Easya loves burgers. Burgers love Easya. All burgers in our menu have been personally
    tested and approved by Easya and his haverim.</p>
</section>
<app-burgers-list></app-burgers-list>
<app-order-delivery-info></app-order-delivery-info>
<app-footer></app-footer>