* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-color: #FFC400;
  --secondary-color: #FFDB66;
  --input-background-color: #EEEEEE;
  --input-text-color: #C4C4C4;
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-weight: normal;
}