footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105px;
  margin-top: 100px;
  background-color: var(--secondary-color);
}

.rights {
  font-size: 1.875rem;
  line-height: 2.19rem;
}